@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@300;400&display=swap');